<!DOCTYPE html>
<html lang="en">
<head>
 
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Annuaire des entreprises</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a href="#" [routerLink]="['./home']">Accueil</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./sec1']">Secteur Bois et ameublement</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./agro']">Secteur des agro-alimentaires</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./ceramic']">Secteur céramique et verre</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./mecanique']">Secteur mécaniques et métallurgiques</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./electro']">Secteur électroniques et électroménager</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./chimie']">Secteur chimie</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./textiles']">Secteur textiles et habillement</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./cuir']">Secteur cuir et chaussures</a></li>
      <li routerLinkActive="active"><a href="" [routerLink]="['./divers']">Industries diverses</a></li>
      <div class="container">
        <div class="row" >
          <div class="col-md-4 mx-auto"><button class="btn btn-success"  (click)="callfunction()">
            Rafraîchir la base des données
          </button></div>
        </div>
        
      </div>


    
    </ul>
  </div>
</nav>
  
  <router-outlet></router-outlet>

</body>
</html>